<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>StopoverAdminPanel</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

	@Styles.Render("~/Content/bundle")
	@Styles.Render("~/Content/DevExtremeBundle")
	@Scripts.Render("~/Scripts/bundle")
	@Scripts.Render("~/Scripts/DevExtremeBundle")
	<script>
		function onBeforeSendSetToken(ajaxOptions) {
			var token = $.cookie("access_token");
			ajaxOptions.headers = { Authorization: 'Bearer ' + token }
		}
	</script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">StopoverAdminPanel</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				@if (!User.Identity.IsAuthenticated)
				{
					<li>@Html.ActionLink("Login", "Login", "Login")</li>

				}
				else
				{
					<li><a style="color:white">You are logged as: @User.Identity.Name</a></li>
					<li>@Html.ActionLink("Logout", "Logout", "Login")</li>
				}
			</ul>
			@if (User.IsInRole("Admin"))
			{
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
								Show Tables
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>@Html.ActionLink("Hotels", "Hotels", "Main")</li>
								<li>@Html.ActionLink("Activities", "Activities", "Main")</li>
								<li>@Html.ActionLink("Orders", "Orders", "Main")</li>
								<li>@Html.ActionLink("Order Requests", "OrderRequests", "Main")</li>
							    <li>@Html.ActionLink("Transfers", "Transfers", "Main")</li>
							    <li>@Html.ActionLink("Partners", "Partners", "Main")</li>
							</ul>
						</li>
					</ul>
				</div>
			}
		</div>
	</nav>

	<div class="container">
		@RenderBody()
	</div>
</body>
</html>